body{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,helvetica;
    overflow: hidden;
    background-color: rgb(199, 226, 237);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

h1{ text-align: center;
  line-height: 45px;
  color: rgb(0, 76, 97);

}
.box{
  width: 390px;
  height: 390px;
  margin: 0 auto;
  position: relative;
  border-radius: 100%;

}
.box .box-pic{
  position: relative;
  transform-origin: 95% 50% 0;
  transition:  0.5s;
  z-index: 1;
}
.box .box-pic:after{
  content: "";
  position: absolute;
  top:50%;
  left: 95%;
  width: 8px;
  height: 8px;
  background: rgb(3, 169, 224);
  border-radius: 50%;
}
.box .box-pic img{
    width: 390px;
  height: 390px;
  border-radius: 50%;
}
.box:hover .box-pic{
  transform: rotate(-140deg);

}
.box .box-content{
  text-align: center;
  color: #fff;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(12, 144, 180, 0.753);
  border-radius:50%;
  padding: 70px 20px;
  box-sizing: border-box;
}
.box-pic{
  border-radius: 100%;
}
    